* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* utility styles */
.d-inline {
  display: inline;
}


main {
  display: flex;
  justify-content: space-between;
  width: 72%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 1.6em;
  border: 1px solid black;
  border-radius: 4px;
  background-image: url('./img/chuck.png');
  background-repeat: no-repeat;
  background-size: cover;
}

article {
  font-size: 14px;
}

.newJoke {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
  padding-right: 40px;
}

.btn {
  padding: 1em;
  margin-bottom: 1.6em;
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
  font-weight: bold;
  color: rgb(107, 4, 4);
  background: none;
}

.btn:hover {
  border: 2px solid #4b5320;
  color: rgb(148, 5, 5);
}

.joke {
  color: rgb(97, 12, 16);
  margin-bottom: 1em;
  padding: 0 1em;
  font-weight: 600;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}

.savedJokes {
  width: 50%;
}

.savedJokesScroll {
  overflow: auto;
  max-height: 320px;
}


.savedJokesScroll::-webkit-scrollbar {
  width: 1em;
}

.savedJokesScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.savedJokesScroll::-webkit-scrollbar-thumb {
background-color: rgba(183, 121, 58, 0.651);
outline: 1px solid #98885C;
}

.add {
  color: red;
  cursor: pointer;
  padding-left: 16px;
}

.delIcon {
  width: 24px;
  height: 25px;
  margin-left: 8px;
  cursor: pointer;
}

.delIcon:hover {
  transform: rotate(90deg);
}

.error {
  color: red;
  font-size: 1.6em;
}




@media (max-width:768px) {
  
  
  main {
    background-position: center;
  }

  .joke {
    color: #A95230;
    font-size: .9em;
  }

  .newJoke {
    font-size: .8em;
  }

}

@media (max-width:768px) {
  
  body {
    background-image: url(./img/chuck.png);
    background-repeat: no-repeat;
    background-color: #292929;
  }

  main {
    margin-top:0;
    background-size: 400px;
    display: block;
    border: none;
    padding: 0;
    width: 90%;
    background: none;
  }

  .btn {
    margin-top: 2em;
  }

  .newJoke {
    display: block;
    width: 100%;
    padding: 0;
    font-size: .6em;
  }

  .savedJokes {
    width: 100%;
  }

  .joke {
    color: white;
  }

  .savedJokesScroll {
    overflow: visible;
  }

}